*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# tmp files
*~
#*#

# Output directory
/ACID-web/target/
/ACID-ear/target/
/ejb-logger/target/
/ejb-entities/target/
/ejb-pwhash/target/
/ejb-jenkinsConnector/target/
/ejb-sonarTasks/target/

# Netbeans configurations
nb-configuration.xml

# Ignore the bash script as people need to customize it.
#auto.sh

