body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}
.form-register {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-register .form-register-heading,
.form-register .checkbox {
  margin-bottom: 10px;
}
.form-register .checkbox {
  font-weight: normal;
}
.form-register .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-register .form-control:focus {
  z-index: 2;
}
.form-register input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-register input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#submitBtn {
  margin-top: 10px;
}

#loginLink {
    margin-top: 15px;
}
#errorBlock {
    margin-top: 15px;
}